/risk_analysis/reference_data/glove_data/glove.twitter.27B.25d.txt
/risk_analysis/reference_data/glove_data/glove.twitter.27B.50d.txt
/risk_analysis/reference_data/glove_data/glove.twitter.27B.100d.txt
/risk_analysis/reference_data/glove_data/glove.twitter.27B.200d.txt
/.git
